table.fullBoard {
	/*border: 1px solid black;*/
}
table.smallBoard {
	/*border: 5px solid blue;*/
	background: gray;
}
tr.cell td{
	/*border: 1px solid black;*/
}

.square{
    width:50px;
    height:50px;
}

.v{
    border-left:1px solid #000;
    border-right:1px solid #000;
}

.h{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

.bigSquare{
    width:150px;
    height:150px;
}

.vert{
    border-left:5px solid #000;
    border-right:5px solid #000;
}

.hor{
    border-top:5px solid #000;
    border-bottom:5px solid #000;
}